<div class="modal-header">
  <h5 class="modal-title text-center">สมัครการแข่งขัน</h5>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="register-form">
    <div class="form-group">
      <label>วัน-เดือน-ปีเกิด</label>
      <div class="input-group date">
        <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </span>
        </span>
      </div>
    </div>

    <label class="mgt">อายุ</label>
    <input type="text" name="name" class="form-control" [(ngModel)]="age" placeholder="21" [disabled]="true">
    <label class="mgt">น้ำหนัก</label>
    <input type="text" name="name" class="form-control" [(ngModel)]="weight" placeholder="น้ำหนัก">
    <label class="mgt">ส่วนสูง</label>
    <input type="text" name="name" class="form-control" [(ngModel)]="tall" placeholder="ส่วนสูง">
    <label class="mgt">จังหวัด</label>
    <input type="text" name="name" class="form-control" [(ngModel)]="province" placeholder="จังหวัด">
  </form>
</div>
<div class="modal-footer">
  <div class="left-side">
    <button type="button" class="btn btn-default btn-link" (click)="save()">สมัคร</button>
  </div>
  <div class="divider"></div>
  <div class="right-side">
    <button type="button" class="btn btn-danger btn-link" (click)="dismiss()">ยกเลิก</button>
  </div>
</div>