<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://www.creative-tim.com">ระบบจัดการแข่งขันกีฬา</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/signin']" class="nav-link">
                        <i class="nc-icon nc-lock-circle-open"></i> เข้าสู่ระบบ</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/signup']" class="nav-link">
                        <i class="nc-icon nc-circle-10"></i>ลงทะเบียน</a>
                </li>
            </ul>
        </div>
    </div>
</nav>