.card-register {
    background-color: #292929;
}

.card-register .title {
    color: #f5593d;
}

.btn-danger.disabled,
.btn-danger:disabled {
    background-color: #f5593d;
    border-color: #f5593d;
}