<div class="section">
  <div class="container">
    <div class="col-md-12 ml-auto mr-auto">
      <h4 class="title">
        <small>รายการประเภทกีฬาที่เข้าร่วมแข่งขัน</small>
      </h4>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" name="sportType" [(ngModel)]="sportType" (ngModelChange)="changeSportType($event)">
              <option value="">ทั้งหมด</option>
              <option value="กีฬา">กีฬา</option>
              <option value="กรีฑา">กรีฑา</option>
            </select>
          </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="ค้นหา" aria-describedby="basic-addon1" [(ngModel)]="keyword" (ngModelChange)="search($event)">
            <span class="input-group-addon" id="basic-addon1">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="table-responsive top">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">ลำดับ</th>
              <th class="text-center">ประเภทกีฬา</th>
              <th width="300">ประเภทการแข่งขัน</th>
              <th width="250" class="text-center">อายุ</th>
              <th class="text-center">เพศ</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="ng-star-inserted" *ngFor="let sport of sportsBinding;let i = index">
              <td class="text-center">{{(page - 1)*10 + (i+1)}}</td>
              <td class="text-center">{{sport.sportType}}</td>
              <td>{{sport.name}}</td>
              <td class="text-center">{{sport.age}}</td>
              <td class="text-center">{{sport.gender}}</td>
              <td class="td-actions text-center">
                <button class="btn btn-info btn-link btn-sm" ngbtooltip="View Profile" type="button" *ngIf="sport.canRegis" (click)="registerSport(sport)">
                  <i class="fa fa-edit"></i> สมัคร
                </button>
                <button class="btn btn-success btn-link btn-sm" ngbtooltip="Edit Profile" type="button">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i> รายละเอียด
                </button>
              </td>
            </tr>
            <tr *ngIf="dataLength <= 0">
              <td>
                ไม่พบข้อมูล
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row" *ngIf="dataLength > 0">
        <div class="col-md-7"></div>
        <div class="col-md-5">
          <ngb-pagination [collectionSize]="dataLength" [(page)]="page" [maxSize]="3" [rotate]="true" (click)="data()"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>